.single-product {
    &-title {
        @extend .display-6;
        @extend .fw-bold;
        @extend .text-center;
        @extend .my-5;

        & > .go-back {
            @extend .d-inline-block;
            @extend .text-black;
            animation: slide 3s ease-in-out infinite;
        }
    }

    &-body {
        @extend .row;
        @extend .position-relative;
    }

    &-first,
    &-second {
        @extend .col-6;
    }

    &-first {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: calc(100vh - 78.4px - 4 * 3rem - 56px);
        mix-blend-mode: multiply;
    }

    &-buy {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;
    }

    &-quantity {
        &-decrease,
        &-increase {
            @extend .btn;
            @extend .btn-primary;
            @extend .rounded-0;
        }

        &-number {
            @extend .d-inline;
            @extend .mx-1;
        }
    }

    &-add-to-cart {
        @extend .btn;
        @extend .btn-primary;
        @extend .rounded-0;

        & .bi {
            padding-right: 5px;
        }
    }
}
