.single-product {
    &-title {
        @extend .fw-bold;
        @extend .mt-5;
    }

    &-category {
        @extend .mb-3;
    }

    &-body {
        @extend .container;
        @extend .row;
        @extend .position-relative;
        min-height: 90vh;
    }

    &-first,
    &-second {
        @extend .col-12;
        @extend .col-md-6;
    }

    &-first {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 70vh;
        mix-blend-mode: multiply;
        @extend .align-self-center;
    }

    &-quantity {
        &-decrease,
        &-increase {
            @extend .btn;
            @extend .btn-primary;
        }

        &-number {
            @extend .d-inline;
            @extend .mx-1;
        }
    }

    &-buy {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;
    }

    &-price {
        @extend .display-5;
    }

    &-add-to-cart {
        @extend .btn;
        @extend .btn-primary;
        @extend .display-5;
        @extend .btn-lg;
        @extend .rounded-0;

        & .bi {
            padding-right: 5px;
        }
    }

    &-review {
        &s {
            @extend .d-flex;
            @extend .flex-column;
            @extend .align-items-center;
            @extend .container;

            &-title {
                @extend .my-5;
            }

            &-add {
                @extend .mb-5;
                @extend .p-5;
                @extend .d-block;
                @extend .bg-white;
                @extend .w-100;
                @extend .shadow;

                & > form {
                    & > div {
                        @extend .input-group;
                        @extend .mb-3;

                        & > span {
                            @extend .input-group-text;
                        }

                        & > textarea,
                        & > input {
                            @extend .form-control;
                        }
                    }

                    & > button {
                        @extend .btn;
                        @extend .btn-primary;
                    }
                }
            }
        }

        @extend .shadow;
        @extend .d-block;
        @extend .bg-white;
        @extend .p-5;
        @extend .mb-5;
        @extend .w-100;

        &-date {
            @extend .text-muted;
        }

        & > * {
            @extend .mb-1;
        }
    }
}

.go-back {
    @extend .d-inline-block;
    @extend .text-black;
    animation: slide 3s ease-in-out infinite;
}
