@import "fonts";
@import "colors";

@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    min-height: 100vh;
}

.card {
    transition: all 0.15s ease-in-out;

    &-img-top {
        object-fit: contain;
        width: 100%;
        height: 12em;
    }

    &-rating-stars {
        background-color: transparent;
        z-index: 1;

        &-grey {
            filter: grayscale(1);
            z-index: 0;
        }
    }
}

.goback {
    animation: slide 3s ease-in-out infinite;
}

@keyframes slide {
    0%,
    100% {
        transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(-5px, 0px, 0px);
    }
}
